@model freelance.Models.Post
@{
    ViewBag.Title = "CreateNewPost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}
@using (Html.BeginForm("CreateNewPost", "Client", FormMethod.Post, new { id = "EditPost", @class = "displaynone" }))
{
    <input type="hidden" id="actionType" name="custId" value="6" />
}
<script>
    function submitEditPosts(id) {
        document.getElementById('custId').value = id;
        document.getElementById('EditPost').submit();
    }
</script>
<div class="addPostBody">
    <div class="createPost" id="app">
        <div class="add-product" :class="{'open': formOpen}">
            <div class="button-copy" v-show="!formOpen" @@click="formOpen = true">Add Product</div>
            @using (Html.BeginForm("CreateNewPost", "Client", FormMethod.Post, new { @class = "createPostForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="radioform">

                    <div class="inputGroup">
                        @Html.RadioButtonFor(model=>model.jobType, "Fixed", new { id = "radio1" })
                        <label for="radio1">Fixed</label>
                    </div>
                    <div class="inputGroup">
                        @Html.RadioButtonFor(model => model.jobType, "Hourly", new { id = "radio2" })
                        <label for="radio2">Hourly</label>
                    </div>
                </div>

                <div class="form--field">
                    <label>Jop Budget</label>
                    <span class="form--price">$</span>
                    @Html.TextBoxFor(model => model.budget, new { @class="form--element", type = "number", step = "0.01", 
                                    required = "requied", placeholder = "Price" })
                    @*<input type="text" class="form--element" name="price" v-model="productData.price" placeholder="Price" required="" min="0" max="500" pattern="\d+(\.\d{2})?">*@
                </div>
                <div class="form--field">
                    <label>Jop Description</label>
                    @Html.TextAreaFor(model => model.JobDescription, new { @class = "form--element textarea", required = "requied" })
                    @*<textarea class="form--element textarea" v-model="productData.description" placeholder="Description" name="Description"></textarea>*@
                </div>

                <button type="submit" class="submit-button" onclick="">Add Product</button>
                <div class="cancel"><span @@click="cancel()">Cancel</span></div>
            }
        </div>
    </div>
</div>
