
@model freelance.Models.Post
@{
    ViewBag.Title = "CreateNewPost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-group" style="padding:50px;">
    <h4>post Information</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.jobType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Fixed
            @Html.RadioButtonFor(m => m.jobType, "fixed")
            Hourly
            @Html.RadioButtonFor(m => m.jobType, "hourly")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.budget, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.budget, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.proposalnum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.proposalnum, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="edit-btn" />
        </div>
    </div>
</div>
}