@model IEnumerable<freelance.Models.Admin>
@{
    ViewBag.Title = "AllPosts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using (Html.BeginForm("AcceptPost", "Admin", FormMethod.Post, new { id = "AcceptPost", @class = "displaynone" }))
{
    <input type="hidden" id="actionType" name="id" />
}
@using (Html.BeginForm("EditPost", "Admin", FormMethod.Post, new { id = "EditPost", @class = "displaynone" }))
{
    <input type="hidden" id="actionType" name="id" />
}
<script>
    document.getElementById("PostsBTN").classList.add("active");
</script>
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm col-md col-lg col-xl tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    @using (Html.BeginForm("DeletePosts", "Admin", FormMethod.Post, new { id = "DeletePosts", @class = "tm-product-table-container" }))
                    {
                        <script>
                            function submitDeletePosts(id) {
                                document.getElementById('custId').value = id;
                                document.getElementById('actionType').value = "DeletePost";
                                document.getElementById('DeletePosts').submit();
                            }
                        </script>
                        <script>
                            function submitAcceptPosts(id) {
                                document.getElementById('custId').value = id;
                                document.getElementById('actionType').value = id;
                                document.getElementById('AcceptPost').submit();
                            }
                        </script>
                        <input type="hidden" id="custId" name="id" />
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center">MEMBER NAME</th>
                                    <th scope="col" style="text-align:center">POST TEXT</th>
                                    <th scope="col" style="text-align:center">DATE</th>
                                    <th scope="col" style="text-align:center">BUDGET</th>
                                    <th scope="col" style="text-align:center">CURRENT STATE</th>
                                    <th scope="col" style="text-align:center">ACCEPT/EDIT</th>
                                    <th scope="col" style="text-align:center">DELETE</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td class="tm-product-name" style="text-align:center">@Html.DisplayFor(Model => item.Name)</td>
                                    <td style="text-align:center">@Html.DisplayFor(Model => item.PostText)</td>
                                    <td style="text-align:center">@Html.DisplayFor(Model => item.Date)</td>
                                    <td style="text-align:center">@Html.DisplayFor(Model => item.Budget)</td>
                                    <td style="text-align:center">@Html.DisplayFor(Model => item.State)</td>
                                    <td style="text-align:center">
                                        <a class="tm-product-delete-link" onclick="submitAcceptPosts( '@Html.DisplayFor(Model => item.PostText)' )"><span class="fas fa-check"></span></a>
                                        <a class="tm-product-delete-link" href ="/Admin/EditClientPost?id=@Html.DisplayFor(Model => item.PostText)" ><i class="fas fa-edit"></i></a>
                                    </td>
                                    <td style="text-align:center">
                                        <a class="tm-product-delete-link" onclick="submitDeletePosts( '@Html.DisplayFor(Model => item.PostText)' )"><span class="far fa-trash-alt tm-product-delete-icon"></span></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>


    </div>
</div>