@model freelance.Models.Post
@{
    ViewBag.Title = "EditClientPost";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


    <input type="hidden" id="" name="id" />
    <div class="container mt-5" style="padding-bottom: 5%;">
        <div class="row tm-content-row">
            <div class="tm-block-col tm-col-avatar">
                <div class="tm-bg-primary-dark tm-block tm-block-avatar" style="height: auto; min-height: 0;">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <tbody>
                            <tr>
                                <th style="text-align:center">Client Name</th>
                                <td style="text-align:center">@Html.DisplayFor(Model => Model.ClientName)</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">Post Date</th>
                                <td style="text-align:center">@Html.DisplayFor(Model => Model.postTime)</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">BUDGET</th>
                                <td style="text-align:center">@Html.DisplayFor(Model => Model.budget)</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">POST STATE</th>
                                <td style="text-align:center">@Html.DisplayFor(Model => Model.state)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">Edit Post</h2>
                    <form action="EditClientPost" method="post" class="tm-signup-form row">
                        <div class="form-group col-lg-12">
                            <label for="postTXT">Post Text</label>
                            <input type="text" value="@Html.DisplayFor(model => model.JobDescription)" name="JobDescription" class = "form-control validate"/>
                            <input type="hidden" value="@Html.DisplayFor(model => model.id)" name="id" class="displaynone"/>
                        </div>
                        <div class="col-12">
                            <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase">
                                UPDATE POST
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
